.composition {

    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 3rem rgba($color-black, 0.3);
        border-radius: 4px;
        position: absolute;
        z-index: 1;
        transition: all .2s;
        outline-offset: 0.6rem;
        background-color: $color-black;

        &--p1 {
            left: 0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 2rem;
        }
        
        &--p3 {
            left: 20%;
            top: 10rem;
        }

        &:hover {
            outline: 1rem solid $color-primary-dark;
            
            transform: scale(1.08);
            box-shadow: 0 2.0rem 4rem rgba($color-black, 0.35);
            z-index: 2;
        }

      
    }

    &:hover &__photo:not(:hover) {
        transform: scale(.9);
        
        opacity: 0.7;
        
    }
}
